extends ./layout/index

block contenido
  main.container.mt-5
    .row
      .col-md-5
        img(src="/img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
      .col-md-7
        h1 #{pagina}
        blockquote Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Voluptate laudantium, sed, nesciunt rem consequuntur deserunt perferendis eligendi est voluptatibus aliquid sequi laborum dignissimos ratione porro, totam aspernatur pariatur quaerat voluptatum.

        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis iure tempore vero a tenetur nesciunt natus sunt cupiditate odio, culpa unde, assumenda corrupti quod nisi ex minima suscipit enim nostrum.

        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia dolorem, porro, possimus quas eligendi voluptatum exercitationem nesciunt quam ducimus deleniti maiores distinctio, aut error sunt totam sed esse ullam perferendis?
  .listado-iconos
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
          h2.mb-4 Seguridad
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum sequi eligendi atque illum eaque molestias quisquam perferendis aperiam commodi facere, asperiores quae facilis ut dolores aliquam, nobis nulla laboriosam iste!
        .col-md-4
          img(src="img/icono_destinos.svg", alt="Icono destinos", class="img-fluid mb-4")
          h2.mb-4 Destinos
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum sequi eligendi atque illum eaque molestias quisquam perferendis aperiam commodi facere, asperiores quae facilis ut dolores aliquam, nobis nulla laboriosam iste!
        .col-md-4
          img(src="img/icono_precios.svg", alt="Icono precios", class="img-fluid mb-4")
          h2.mb-4 Los mejores precios
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum sequi eligendi atque illum eaque molestias quisquam perferendis aperiam commodi facere, asperiores quae facilis ut dolores aliquam, nobis nulla laboriosam iste!

